@{
    ViewData["Title"] = "Contact";
}

<nav class="main-nav">
    <a href="/">Home</a>
    <a href="/Tickets">Tickets</a>
    <a href="/Contact" style="text-decoration: underline;">Contact</a>
    <a href="/Inloggen" style=" position: absolute; right: 10px;"> Inloggen</a>
</nav>

<h2>@ViewData["Title"]</h2>

<center>
    <p8>
        Heb je nog vragen? Of wil je graag bij ons werken?
        Vul dan hieronder je gegevens en vraag in. Dan zullen wij zo snel mogelijk reageren!
    </p8>
</center>

    <form method="post">
        <fieldset style="background-color:#FFE6F1FF">
            <br>Voornaam:<input type="text"  title="minimaal drie letters en geen cijfers" style="background-color:#FFFFFF" name="voornaam">
            <br>Achternaam:<input type="text" required style="background-color:#FFFFFF" name="achternaam">
            <br>Geboortedatum:<input type="datetime" required style="background-color:#FFFFFF" name="geboortedatum">
            <br>E-mailadres:<input type="text" required style="background-color:#FFFFFF" name="emailadres">
            <br>Bericht:<textarea  required name="bericht"></textarea>
            <input type="submit" />
        </fieldset>
    </form>

<center>
    <div class="afbeelding5">
        <img src="/afbeeldingen/logobullebak2.png" alt="logo" width="400" height="450"/>
    </div>
</center>