@{
    ViewData["Title"] = "Contact";
}

    <nav class="main-nav" style="background-color: #c0e7fbff; border: 2px solid white;">
        <a href="/">Home</a>
        <a href="/Tickets">Tickets</a>
        <a href="/Contact">Contact</a>
        <a href="/Inloggen" style=" position: absolute; right: 10px;"> Inloggen</a>
    </nav>

<h1>@ViewData["Title"]</h1>
