<nav class="main-nav">
    <a href="/">Home</a>
    <a href="/Tickets">Tickets</a>
    <a href="/Contact">Contact</a>
    <a href="/Inloggen">Inloggen</a>
</nav>

@{
    ViewData["Title"] = "Festival";
}
<h1>Nadere info [@ViewData["id"]] </h1>

@foreach (Festival p in Model)
{
    <p>@p.Naam en @p.Beschrijving</p>
}