@using SchoolTemplate.Database

<nav class="main-nav" style="background-color: #c0e7fbff; border: 2px solid white;">
    <a href="/">Home</a>
    <a href="/Tickets">Tickets</a>
    <a href="/Contact">Contact</a>
    <a href="/Inloggen" style=" position: absolute; right: 10px;">Inloggen</a>
</nav>

@{
    ViewData["Title"] = "Festival";
}
<h2>Nadere info [@ViewData["id"]] </h2>

@foreach (Festival p in Model)
{
    <p>@p.Naam en @p.Beschrijving</p>
}