@using SchoolTemplate.Database
@model Festival
@{
    ViewData["Title"] = "Festival";
}

<nav class="main-nav">
    <a href="/">Home</a>
    <a href="/Tickets">Tickets</a>
    <a href="/Contact">Contact</a>
    <a href="/Inloggen" style=" position: absolute; right: 10px;">Inloggen</a>
</nav>


<h2>@Model.Naam</h2>
<h3>Nadere info @Model.Naam </h3>

<h4>Plattegrond:</h4>
<div class="plattegrond">
    <img src="/afbeeldingen/websitebullebakplattegrond.png" width=750px height=300px alt="festival" />
</div>
<h5>Routebeschrijving:</h5>
<a href="https://www.google.com/maps/dir/52.0781824,4.3548672/Woohah!+Festival,+Beekse+Bergen+5081,+Hilvarenbeek/@@51.7973179,4.1580718,9z/data=!3m1!4b1!4m10!4m9!1m1!4e1!1m5!1m1!1s0x47c6bf22aac6fb2d:0xdc5a692e96a42573!2m2!1d5.1238634!2d51.5195332!3e0"></a>
<div class="nieuws">
    <img src="/afbeeldingen/websitebullebaknieuws.png" width=750px height=300px alt="festival" />
</div>
<div class="huisregels">
    <img src="/afbeeldingen/websitebullebakhuisregels.png" width=750px height=300px alt="festival" />
</div>

