@using SchoolTemplate.Database;
@model List<Festival>
@{
    ViewData["Title"] = "Home";
}


<div class="page">

    <nav class="main-nav">
        <a href="/Home" style="text-decoration: underline;">Home</a>
        <a href="/Tickets">Tickets</a>
        <a href="/Contact">Contact</a>
        <a href="/Inloggen" style=" position: absolute; right: 10px;">Inloggen</a>
    </nav>
</div>

<div class="text-center">
    <h1 class="display-4">Koop nu tickets voor het eerstvolgende festival: de Feesttent </h1>
</div>

<div class="logo">
    <img src="/afbeeldingen/logobullebak2.png" alt="logo"/>
</div> 

<div class="hoofdafbeelding">
    <img src="/afbeeldingen/afbeeldingfestivalbullebak.png" width=750px height=300px alt="festival"/>
</div>

<h2>Eerstvolgende festivals:</h2>

<table style="width:100%">
    <tr>
        <td>5 & 6 oktober</td>
        <td><a href="/festival/1">De Feesttent</a></td>
    </tr>
    <tr>
        <td>11, 12, & 13 oktober</td>
        <td><a href="/festival/2">Hockeyloverz</a></td>
    </tr>
    <tr>
        <td>25 & 26 oktober</td>
        <td><a href="/festival/3">Koning festival</a></td>
    </tr>
    <tr>
        <td>29 & 30 oktober</td>
        <td><a href="/festival/4">Wiskunde liefhebbers</a></td>
    </tr>
    <tr>
        <td>8 november</td>
        <td><a href="/festival/5">Motorbende hieroo</a></td>
    </tr>
</table>

<div class="afbeelding4">
    <center>
        <img src="/afbeeldingen/pijl2.png" alt="pijl links" width="50" height="50" />
        <img src="/afbeeldingen/pijl1.png" alt="pijl rechts" width="50" height="50" />
    </center>
</div>

<div class="afbeeldingrecensies">
    <img src="~/afbeeldingen/afbeeldingrecensies (1).png" />
</div> 

