
<nav class="main-nav" style="background-color: #c0e7fbff; border: 2px solid white;">
    <a href="/">Home</a>
    <a href="/Tickets">Tickets</a>
    <a href="/Contact">Contact</a>
    <a href="/Inloggen" style=" position: absolute; right: 10px; text-decoration: underline;">Inloggen</a>
</nav>


@{
    ViewData["Title"] = "Tickets";
}

<center>
    <img src="/afbeeldingen/logobullebak2.png" alt="logo" width="200" height="250" />
</center>

<center>Log hier in:</center>
<a>
    <center>
        <p>
            <a href="https://www.facebook.com/login.php?skip_api_login=1&api_key=999709013458719&kid_directed_site=0&app_id=999709013458719&signed_next=1&next=https%3A%2F%2Fwww.facebook.com%2Fv4.0%2Fdialog%2Foauth%3Fauth_type%3Dreauthorize%26client_id%3D999709013458719%26redirect_uri%3Dhttps%253A%252F%252Fleren.wrts.nl%252Fuser_accounts%252Fauth%252Ffacebook%252Fcallback%26response_type%3Dcode%26scope%3Demail%26state%3Dab54e3b393678b7c25b024917ca1bf5cb6989f3d5a392e16%26ret%3Dlogin%26fbapp_pres%3D0%26logger_id%3Dc9d05f6b-6ebb-427d-a801-bec8ba5e493e&cancel_url=https%3A%2F%2Fleren.wrts.nl%2Fuser_accounts%2Fauth%2Ffacebook%2Fcallback%3Ferror%3Daccess_denied%26error_code%3D200%26error_description%3DPermissions%2Berror%26error_reason%3Duser_denied%26state%3Dab54e3b393678b7c25b024917ca1bf5cb6989f3d5a392e16%23_%3D_&display=page&locale=en_US&pl_dbl=0">
                <img src="~/afbeeldingen/afbeeldingGadoormetFacebook2.png" />
        </p>
        <a />
        <a>
            <a href="https://accounts.google.com/signin/oauth/oauthchooseaccount?client_id=532352704633-6pkces9iboppp465idnovkcqtlsa8j7t.apps.googleusercontent.com&as=LBtaNvb_XmUW4vNfLuzacg&destination=https%3A%2F%2Fwww.figma.com&approval_state=!ChRzOGFKUzIzZHkwSWlWa181amtuYxIfb3dWU0xaQkgzOXNWY0t0V0xtY192ZHBvQXk0dkRSYw%E2%88%99AF-3PDcAAAAAXmyRuXk_AFWAYTOZPVOCHGgTI78lqMaE&oauthgdpr=1&xsrfsig=ChkAeAh8T45vhNcGmVsCTimF9W4ocQcIh7uUEg5hcHByb3ZhbF9zdGF0ZRILZGVzdGluYXRpb24SBXNvYWN1Eg9vYXV0aHJpc2t5c2NvcGU&flowName=GeneralOAuthFlow">
                <p> <img src="~/afbeeldingen/afbeeldingLoginmete-mail.png" /> </p>
    </center>
</a>

<p19>
    <HR WIDTH="100%" COLOR="white" SIZE="4">    
</p19>

<center>
    Of ga door met <p17>    <a> <a href="https://accounts.google.com/signin/oauth/oauthchooseaccount?client_id=532352704633-6pkces9iboppp465idnovkcqtlsa8j7t.apps.googleusercontent.com&as=LBtaNvb_XmUW4vNfLuzacg&destination=https%3A%2F%2Fwww.figma.com&approval_state=!ChRzOGFKUzIzZHkwSWlWa181amtuYxIfb3dWU0xaQkgzOXNWY0t0V0xtY192ZHBvQXk0dkRSYw%E2%88%99AF-3PDcAAAAAXmyRuXk_AFWAYTOZPVOCHGgTI78lqMaE&oauthgdpr=1&xsrfsig=ChkAeAh8T45vhNcGmVsCTimF9W4ocQcIh7uUEg5hcHByb3ZhbF9zdGF0ZRILZGVzdGluYXRpb24SBXNvYWN1Eg9vYXV0aHJpc2t5c2NvcGU&flowName=GeneralOAuthFlow">
    Google</a>, 
    <a> <a href="https://www.linkedin.com/uas/login?session_redirect=https%3A%2F%2Fwww%2Elinkedin%2Ecom%2Fcompany%2Flogin&fromSignIn=true&trk=organization_guest_nav-header-signin">  
    Linkedin</a> </p17>    
</center>

<center>Heb je nog geen account? <p17>Meld je aan </p17></center>

