
    <nav class="main-nav" style="background-color: #c0e7fbff; border: 2px solid white;">
        <a href="/">Home</a>
        <a href="/Tickets">Tickets</a>
        <a href="/Contact">Contact</a>
        <a href="/Inloggen" style=" position: absolute; right: 10px; text-decoration: underline;">Inloggen</a>
    </nav>


@{
    ViewData["Title"] = "Tickets";
}
<h1>Inloggen</h1>

<center>
    <img src="/afbeeldingen/logobullebak2.png" alt="logo" width="200" height="250" />
</center>

<center>Log hier in:</center>
<img src="/afbeeldingen/afbeeldingGadoormetFacebook.png" />


<center>Of ga door met Google, LinkedIn</center>
<center>Heb je nog geen account? Meld je aan</center>