
<nav class="main-nav">
    <a href="/">Home</a>
    <a href="/Tickets">Tickets</a>
    <a href="/Contact">Contact</a>
    <a href="/Muntverkoop">Muntverkoop</a>
    <a href="/Inloggen" style=" position: absolute; right: 10px;"> Inloggen</a>
</nav>

@{
    ViewData["Title"] = "Muntverkoop";
}


<p4>Koop nu munten voor jouw festivals!</p4>

<p5>Zo krijg je korting op de munten en hoef je op je festival niet in de rij te staan om munten te kopen.</p5>

<div class="afbeelding-geld">
<img src="/afbeeldingen/Functioneel ontwerp muntverkoop.png"/>
</div>

<h35>De Feesttent</h35>
<fieldset style="background-color: #FFE6F1FF">
    <p35>10 munten voor €20</p35><br />
    <p35>20 munten voor €35</p35><br />
    <p35>30 munten voor €50</p35><br />
    <SELECT name="number">
        <option>10</option>
        <option>20</option>
        <option>30</option>
    </SELECT>
    <button type="button" style="background-color: #FFFFFF" onclick="alert('U heeft de munten voor het festival De Feesttent besteld ;D')">Afrekenen</button>
</fieldset>

<h35>Hockeyloverz</h35>
<fieldset style="background-color: #FFE6F1FF">
    <p35>10 munten voor €25</p35><br />
    <p35>20 munten voor €45</p35><br />
    <p35>30 munten voor €60</p35><br />
    <SELECT name="number">
        <option>10</option>
        <option>20</option>
        <option>30</option>
    </SELECT>
    <button type="button" style="background-color: #FFFFFF" onclick="alert('U heeft de munten voor het festival Hockeyloverz besteld ;D')">Afrekenen</button>
</fieldset>