@{
    ViewData["Title"] = "Muntverkoop";
}

    <nav class="main-nav" style="background-color: #c0e7fbff; border: 2px solid white;">
        <a href="/">Home</a>
        <a href="/Tickets">Tickets</a>
        <a href="/Contact">Contact</a>
        <a href="/Muntverkoop">Muntverkoop</a>
        <a href="/Inloggen" style=" position: absolute; right: 10px;"> Inloggen</a>
    </nav>

<h2>@ViewData["Title"]</h2>

<p4>Koop nu munten voor jouw festivals!</p4>

<p5>Zo krijg je korting op de munten en hoef je op je festival niet in de rij te staan om munten te kopen.</p5>