
    <nav class="main-nav">
        <a href="/">Home</a>
        <a href="/Tickets">Tickets</a>
        <a href="/Contact">Contact</a>
        <a href="/Inloggen">Inloggen</a>
    </nav>


@{
    ViewData["Title"] = "Tickets";
}
<h1>Tickets!!!</h1>
