
<nav class="main-nav">
    <a href="/">Home</a>
    <a href="/Tickets">Tickets</a>
    <a href="/Contact">Contact</a>
    <a href="/Inloggen">Inloggen</a>
</nav>


@{
    ViewData["Title"] = "Tickets";
}

<h1>Ticketverkoop:</h1>

<fieldset>
    <p> De Feesttent - 5 & 6 oktober</p>
    Locatie:Gemert
</fieldset>

<fieldset>
    Ticketaantal:
    Prijs: 
</fieldset>

<form>
    <fieldset>
        </legend>
        <br>Voornaam <input type="text" pattern="[A-Za-z]{3,}" title="minimaal drie letters en geen cijfers">
       
        <br>Achternaam <input type="text" required>
        <br>Adres <input type="text" required>
        <br>Plaats <input type="text" required>
        <br>Postcode <input type="text" required>
        <br>Telefoonnummer <input type="text" required>
        <br>Mailadres: <input type="text" required>
    </fieldset>
</form>

I confirm that I am 16 years of age or older, and I have read and agree to the Verkoopvoorwaarden en het Privacybeleid.