.main-nav a {
    display: inline;
    float: left;
    display: block;
    padding: 8px 173px;
    background-color: #c0e7fbff;
    text-decoration: none;
    border-bottom: solid white;
    border-top: solid white;
    color: black;
}

body {
    background-color: #FFF2CCFF;
    font-family: "Courier New", Courier, monospace;
}

.afbeelding {
    position: relative;
}

.over-img {
    position: absolute;
    top: 80%;
    left: 20%;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

td {
    height: 30px;
    vertical-align: bottom;
}

h1 {
    text-align: center;
    vertical-align: baseline;
}

h2 {
    text-align: center;
}

p20 {
    text-decoration: underline;
}