.main-nav a {
    display: inline-block;
    padding: 8px 8px;
    text-decoration: none;
    color: black;
    width: 13%;
}

.main-nav {
    background-color: #c0e7fbff;
    border: 2px solid white;
}

body {
    background-color: #FFF2CCFF;
    font-family: "Courier New", Courier, monospace;
}

div.afbeelding-geld {
    left: 500px;
    width: 300px ;
    height: 250px ;
}

.afbeelding {
    position: relative;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

td {
    height: 30px;
    vertical-align: bottom;
}

h1 {
    text-align: center;
    vertical-align: baseline;
}

h2 {
    text-align: center;
}

p20 {
    text-decoration: underline;
}

div.afbeelding3 {
    position: relative;
    left: 500px;
    bottom: 65px; 
}

p11 { 
    text-decoration: underline;
}

p17 {
    text-decoration: underline; 
}

div.afbeelding5 {
    position: relative;
    top: 70px;
}

div.afbeeldingrecensies {
    position: relative; 
    left: 1100px; 
}

div.logo {
    top: 70px;
    width: 200px;
    height: 250px;
    width: 40%;
}

div.hoofdafbeelding {
    top: 70px;
    width: 750px;
    height: 300px;
    right: 0px;
    float: right;
}

div.logo2 {
    width: 200px ; 
    height: 250px ;
}

h2 {
    clear: both;
}