.main-nav a {
    display: inline;
    float: left;
    display: block;
    padding: 8px 173px;
    background-color: #c0e7fbff;
    text-decoration: none;
    border-bottom: solid white;
    border-top: solid white;
}

body {
    background-color: #FFF2CCFF;
    font-family: "Courier New", Courier, monospace;
}

.afbeeldingen {
    position: relative;
}

.over-img {
    position: absolute;
    top: 80%;
    left: 20%;
}