<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"] - De Bullebak</title>
    <link rel="stylesheet" href="~/css/site.css" />
   
        <link rel="icon" type="image/png" href="~/afbeeldingen/logobullebak3.png">

</head> 
    <body>
        @RenderBody()
    </body>
</html>
