<!DOCTYPE html>
<html>
    <head>
        <title>@ViewData["Title"] - De Bullebak</title>
        <link rel="stylesheet" href="~/css/site.css" />
    </head> 
    <body>
        @RenderBody()
    </body>
</html>
